@keyframes fadeIn {
  from {
    opacity: 0.2;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardContainer {
  animation: fadeIn 1s; /* Apply the fadeIn animation */
}
